<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Friday2Servlet</servlet-name>
        <servlet-class>it.unitn.aa1718.webprogramming.project.friday2.Friday2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FridayServletCatProdotto</servlet-name>
        <servlet-class>it.unitn.aa1718.webprogramming.project.friday2.FridayServletCatProdotto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FridayServletProdotto</servlet-name>
        <servlet-class>it.unitn.aa1718.webprogramming.project.friday2.FridayServletProdottoAfter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletList</servlet-name>
        <servlet-class>it.unitn.aa1718.webprogramming.project.friday2.FridayServletList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FridayServletProdottoBefore</servlet-name>
        <servlet-class>it.unitn.aa1718.webprogramming.project.friday2.FridayServletProdottoBefore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Friday2Servlet</servlet-name>
        <url-pattern>/Friday2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FridayServletCatProdotto</servlet-name>
        <url-pattern>/FridayServletCatProdotto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FridayServletProdotto</servlet-name>
        <url-pattern>/FridayServletProdotto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletList</servlet-name>
        <url-pattern>/ServletList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FridayServletProdottoBefore</servlet-name>
        <url-pattern>/FridayServletProdottoBefore</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
