<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core-rt</taglib-uri>
            <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
            <taglib-location>/WEB-INF/sql.tld</taglib-location>
        </taglib>
    </jsp-config>
    

    
    <servlet>
        <servlet-name>insertUserServlet</servlet-name>
        <!-- <servlet-class>it.unitn.aa1718.webprogramming.servlets.insertUserServlet</servlet-class> -->
        <jsp-file>/insertUser.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertUserServlet</servlet-name>
        <url-pattern>/registrazione-utente-Friday</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <!-- <servlet-class>it.unitn.aa1718.webprogramming.servlets.loginServlet</servlet-class> -->
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login-Friday</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
    
    
    <!-- TODO non funzionano le cose :(  cambia URL-PATTERN, no servlet-->
    <servlet>
        <servlet-name>insertProductServlet</servlet-name>
        <!--  <servlet-class>it.unitn.aa1718.webprogramming.servlets.insertProductServlet</servlet-class> -->
        <jsp-file>/insertProduct.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertProductServlet</servlet-name>
        <url-pattern>/prodotto-Friday </url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertProductCategoryServlet</servlet-name>
        <!-- <servlet-class>it.unitn.aa1718.webprogramming.servlets.insertProductCategoryServlet</servlet-class> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>insertProductCategoryServlet</servlet-name>
        <url-pattern>/insertProductCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertShoppingListServlet</servlet-name>
        <!--   <servlet-class>it.unitn.aa1718.webprogramming.servlets.insertShoppingListServlet</servlet-class> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>insertShoppingListServlet</servlet-name>
        <url-pattern>/insertShoppingListServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listServlet</servlet-name>
        <!-- <servlet-class>it.unitn.aa1718.webprogramming.servlets.listServlet</servlet-class> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>listServlet</servlet-name>
        <url-pattern>/listServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <!-- <servlet-class>it.unitn.aa1718.webprogramming.servlets.indexServlet</servlet-class> -->
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/home-page-Friday</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertShoppingListCategoryServlet</servlet-name>
        <!-- <servlet-class>it.unitn.aa1718.webprogramming.servlets.insertShoppingListCategoryServlet</servlet-class> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>insertShoppingListCategoryServlet</servlet-name>
        <url-pattern>/insertShoppingListCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <!--   <servlet-class>it.unitn.aa1718.webprogramming.servlets.logoutServlet</servlet-class> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>securityServlet</servlet-name>
        <!--  <servlet-class>it.unitn.aa1718.webprogramming.servlets.securityServlet</servlet-class> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>securityServlet</servlet-name>
        <url-pattern>/securityServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <!--   <servlet-class>it.unitn.aa1718.webprogramming.servlets.searchServlet</servlet-class> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>confirmRegistrationServlet</servlet-name>
        <!--   <servlet-class>it.unitn.aa1718.webprogramming.servlets.confirmRegistrationServlet</servlet-class> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>confirmRegistrationServlet</servlet-name>
        <url-pattern>/confirmRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>handlingListServlet</servlet-name>
        <!--   <servlet-class>it.unitn.aa1718.webprogramming.servlets.handlingListServlet</servlet-class> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>handlingListServlet</servlet-name>
        <url-pattern>/handlingListServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sharingListServlet</servlet-name>
        <!--  <servlet-class>it.unitn.aa1718.webprogramming.servlets.sharingListServlet</servlet-class> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>sharingListServlet</servlet-name>
        <url-pattern>/sharingListServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!--
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
        <url-pattern>/error-page</url-pattern>
    </error-page>
    
    
    -->



</web-app>
